on init
    chown system system /sys/class/vsm/tp/gesture_control
    chmod 0660 /sys/class/vsm/tp/gesture_control

    mkdir /dev/lineage.touch@1.0
    chown system system /dev/lineage.touch@1.0
    chmod 0755 /dev/lineage.touch@1.0

service touch-hal-1-0-V620A /system/bin/hw/lineage.touch@1.0-service.V620A
    class hal
    user system
    group system
